body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.nav-bar {
  display: flex;
}
.logo {
  margin-left: 20px;
  width: 40%;
  padding: 10px 20px;
}
.logo h1 {
  font-size: 30px;
}
.nav-part {
  margin-top: 10px;
  width: 60%;
}
.nav-part ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-part li {
  list-style: none;
}
.span-color {
  color: #ff6348;
}
.healthy {
  margin-top: 20px;
  display: flex;
}

.left-part {
  width: 50%;
  padding: 30px 80px;
}
.left-part h1 {
  font-size: 40px;
  font-weight: bold;
}
.left-part p {
  margin-bottom: 40px;
}
.right-path {
  width: 50%;
}
.right-path img {
  width: 70%;
}

.button {
  background-image: linear-gradient(95deg, rgb(243, 115, 115), #c42a0f);
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  border-radius: 50px;

  font-size: 20px;
}

.about-sec {
  margin-top: 70px;
  display: flex;
  background-image: url(./images/shapes/Frame\ 59.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pad-all {
  padding: 40px 70px;
}
.marg-bottom {
  margin-bottom: 60px;
}

.recipe-head h1 {
  text-align: center;
}
.recipe-head p {
  text-align: center;
  padding: 10px 220px;
}

.recipe-div {
  display: flex;
  padding: 10px 30px;
}

.recipe-all {
  width: 30%;
  padding: 10px 20px;
  margin-left: 20px;
  box-shadow: 10px 10px 8px gray;
  border-radius: 30px;
}

.recipe-all img {
  width: 100%;
}
